@font-face {
    font-family: 'Alternate Gothic Cond ATF Bold';
    src: url('fonts/AlternateGotNo3D.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

/** color classes **/
.sub-info {
    color : #88848c;
}

.info {
    color:#40c4c4;
}

body {
    background-color: #191d28;
    color: #fff;
    font-family: 'Alternate Gothic Cond ATF Bold', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
    color:#40c4c4;
}

.currency-selection {
    display: flex;
    gap: 10px;
}

.currency-btn, .buy-btn {
    background-color: #2e3241;
    border: none;
    color: #ffff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

.buy-btn {
    background-color: #2e3241;
    color: #ffff;
    border-radius: 5px;
}

.connect-telegram {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffff;
    font-weight: bold;
}

.indicator {
    background-color: #40c4c4;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect-btn {
    background-color: #40c4c4;
    color: #ffff; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #40c4c4;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.price-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.7em;
}

.indicator {
    background-color: #ff6347;
    border-radius: 50%;
    padding: 10px;
    color: white;
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-change span {
    font-size: 1.5em;
    display: block;
}

.best-price {
    text-align: center;
}

.best-price h2 {
    font-size: 3em;
    margin: 0;
}

/* #818389 */

.price-table {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.7em;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #3a3f47;
}

th {
    text-align: center;
    color : #88848c;
    padding-top: 2em;
}

td img.platform-logo {
    vertical-align: middle;
    width: 24px;
    margin-right: 10px;
}

.positive {
    color: #40c4c4;
}

.negative {
    color: #ff3860;
}

.add-home-btn {
    background-color: #191d28;
    border:1px solid #40c4c4;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    color: #40c4c4;
    border-radius: 5px;
}

.fixed-footer {
    background-color: #191d28;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding-bottom: 60px; /* Height of the footer */
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 40px; /* Set a specific height for the footer */
}

table {
    width: 100%;
        /* border-collapse:separate; */
        border-spacing: 0 10px !important;
    margin: 20px 0;
    border-radius: 10px; /* Rounding the table edges */
    overflow: hidden;
}

td {
    border: 1px solid #2e3241;
    background-color: #2e3241;
    padding: 8px;
    text-align: center; /* Center align text in table cells */
}

th {
    background-color: #191d28;
}


